* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.resume {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    background: linear-gradient(to right, #313131 0%, #313131 30%, white 30%, white 100%);
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.shrinked {
    width: 199px;
    height: 281px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-sizing: border-box;
    /* Важно! */
    font-size: 7px;
}

.heading {
    display: flex;
    margin-top: -20px;
}

.heading_information {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact {
    display: flex;
    gap: 2px;
}

.profilePhotoClassic {
    width: 116px;
    height: 116px;
    border-radius: 50%;
    border: none;
    background: #fff;
    display: inline-block;
    background: #cacaca;
    box-shadow: 0 0 0 2px #fff, 0 0 6px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media (max-width: 768px) {
    .profilePhotoClassic {
        width: 80px;
        height: 80px;
    }
}
@media (max-width: 1280px) {
    .profilePhotoClassic {
        width: 100px;
        height: 100px;
    }
}
@media (min-width: 1500px) {
    .profilePhotoClassic {
        width: 160px;
        height: 160px;
    }
}

.profilePhotoClassic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: optimizeQuality;
    -ms-interpolation-mode: bicubic;
}

.imtext {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    box-sizing: border-box;
}
@media (max-width: 1280px) {
    .imtext {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }
}  
@media (min-width: 1500px) {
    .imtext {
         display: flex;
         gap: 60px;
        justify-content: space-between;
        padding: 0 10px;
    }
} 
.imgText {
    display: flex;
    flex-direction: column;


    .name {
        font-size: 34px;
        font-weight: bold;
        color: #242424;
    }

    .role {
        color: gray;
        font-weight: bold;
    }
}
@media  (min-width: 1500px) {
    .imgText {
        .name {
            font-size: 44px;
        }
        .role {
            font-size: 24px;
        }
        .email {
            font-size: 18px;
            color: rgb(116, 114, 114);  
        }
    }
    
}

.infoName {
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    gap: 75px;
    color: #c5c5c5;
}
@media (max-width: 1280px) {
    .infoName {
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
        gap: 50px;
    }
}
@media (min-width: 1500px) {
    .infoName {
        display: flex;
        justify-content: flex-start;
        margin-left: 40px;
        gap: 100px;
    }
}

.edName {
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    gap: 80px;
    color: #c5c5c5;
}
@media (max-width: 1280px) {
    .edName {
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
        gap: 55px;
    }
}
@media screen and (min-width: 1500px) {
    .edName {
        display: flex;
        justify-content: flex-start;
        margin-left: 33px;
        gap: 117px;
    }
    
}


.loName {
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    gap: 92px;
    color: #c5c5c5;
}
@media (max-width: 1280px) {
    .loName {
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
        gap: 67px;
    }
}
@media (min-width: 1500px) {
    .loName {
        display: flex;
        justify-content: flex-start;
        margin-left: 40px;
        gap: 125px;
    }
}

.abName {
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    gap: 116px;
    color: #c5c5c5;
}
@media (max-width: 1280px) {
    .abName {
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
        gap: 95px;
    }
}
@media (min-width: 1500px) {
    .abName {
        display: flex;
        justify-content: flex-start;
        margin-left: 40px;
        gap: 158px;
    }
}

.skName {
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    gap: 123px;
    color: #c5c5c5;
}
@media (max-width: 1280px) {
    .skName {
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
        gap: 95px;
    }
}
@media (min-width: 1500px) {
    .skName {
        display: flex;
        justify-content: flex-start;
        margin-left: 40px;
        gap: 158px;
        margin-top: 15px;
    }
}

.cnName {
    display: flex;
    justify-content: flex-start;
    gap: 68px;
    color: #c5c5c5;
}
@media (max-width: 1280px) {
    .cnName {
        display: flex;
        justify-content: flex-start;
        gap: 30px;
        font-size: 14px;
    }
}
@media (min-width: 1500px) {
    .cnName {
        display: flex;
        justify-content: flex-start;
        gap: 88px;
    }
}

.psName {
    display: flex;
    justify-content: flex-start;
    gap: 126px;
    color: #c5c5c5;
}
@media (max-width: 1280px) {
    .psName {
        display: flex;
        justify-content: flex-start;
        gap: 75px;
    }
}
@media (min-width: 1500px) {
    .psName {
        display: flex;
        justify-content: flex-start;
        gap: 167px;
    }
}

.dcName {
    display: flex;
    justify-content: flex-start;
    gap: 106px;
    color: #c5c5c5;
}
@media (max-width: 1280px) {
    .dcName {
        display: flex;
        justify-content: flex-start;
        gap: 52px;
    }
}
@media (min-width: 1500px) {
    .dcName {
        display: flex;
        justify-content: flex-start;
        gap: 136px;
    }
}

.esName {
    display: flex;
    justify-content: flex-start;
    gap: 57px;
    color: #c5c5c5;
}
@media (max-width: 1280px) {
    .esName {
        display: flex;
        justify-content: flex-start;
        gap: 28px;
    }
}
@media (min-width: 1500px) {
    .esName {
        display: flex;
        justify-content: flex-start;
        gap: 98px;
    }
}

.boldEnd {
    color: #c5c5c5;
    font-size: 14px;
    font-weight: bold;
}
@media (max-width: 1280px) {
    .boldEnd {
        font-size: 10px;
    }
}
@media (min-width: 1500px) {
    .boldEnd {
        font-size: 16px;
    }
}

.achivName {
    display: flex;
    justify-content: flex-start;
    gap: 76px;
    color: #c5c5c5;
}
@media (max-width: 1280px) {
    .achivName {
        display: flex;
        justify-content: flex-start;
        gap: 33px;
    }
}
@media (min-width: 1500px) {
    .achivName {
        display: flex;
        justify-content: flex-start;
        gap: 100px;
    }
}

.eyName {
    display: flex;
    justify-content: flex-start;
    gap: 150px;
    color: #c5c5c5;
}
@media (max-width: 1280px) {
    .eyName {
        display: flex;
        justify-content: flex-start;
        gap: 110px;
    }
}
@media (min-width: 1500px) {
    .eyName {
        display: flex;
        justify-content: flex-start;
        gap: 210px;
    }
}


.inName {
    display: flex;
    justify-content: flex-start;
    gap: 106px;
    color: #c5c5c5;
}
@media (max-width: 1280px) {
    .inName {
        display: flex;
        justify-content: flex-start;
        gap: 63px;
    }
}
@media (min-width: 1500px) {
    .inName {
        display: flex;
        justify-content: flex-start;
        gap: 154px;
    }
}

.leName {
    display: flex;
    justify-content: flex-start;
    gap: 130px;
    color: #c5c5c5;
}
@media (max-width: 1280px) {
    .leName {
        display: flex;
        justify-content: flex-start;
        gap: 90px;
    }
}
@media (min-width: 1500px) {
    .leName {
        display: flex;
        justify-content: flex-start;
        gap: 188px;
    }
}

.faName {
    display: flex;
    justify-content: flex-start;
    gap: 144px;
    color: #c5c5c5;
}
@media (max-width: 1280px) {
    .faName {
        display: flex;
        justify-content: flex-start;
        gap: 103px;
    }
}
@media (min-width: 1500px) {
    .faName {
        display: flex;
        justify-content: flex-start;
        gap: 205px;
    }
}


.achievements {
    display: flex;
    gap: 4px;
}

.achivLi {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 4px;
    border-radius: 6px;
}

.work {
    font-size: 18px;
    color: #ffffff;
}
@media (max-width: 1280px) {
    .work {
        font-size: 14px;
    }
}
@media (min-width: 1500px) {
    .work {
        font-size: 22px;
    }
}

.profilePhotoShrinked {
    width: 500px;
}

.bold {
    font-weight: bold;
}
@media (min-width: 1500px) {
    .bold {
        font-size:  22px;
    }
}
.notbold {
    font-weight: normal;
    color: #999;
}
@media (min-width: 1500px) {
    .notbold {
        font-size:  18px;
    }
}
.professionalPathWrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.summary {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.experience {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    margin-left: 1px;
    margin-top: 16px
}

.mainInfo {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.achievementItem {
    display: flex;
    gap: 4px;
    align-items: center;
}

.circle {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: black;
}

.resumeContent {
    position: relative;
}

.educationBlock {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}
